{% extends '../base.html' %}
{% load static %}
{% block styleandlink %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
<style>
    #main {
        display: flex;
        height: 100vh;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #center {
        margin: 0 auto;
    }

    .card-body a {
        text-decoration: none;
        color: #000;

    }

    .row {
        display: flex;

    }

    .col-1 {
        padding: 0 10px;
    }

    .card-img {
        width: 300px;
        height: 300px;
    }

    .card-body {
        padding: 10px 0px 10px 7px;
        border: 1px solid #767676;
        border-top: none;
    }




    .fs-xs {
        font-size: .875rem;
        font-family: 'Jost', sans-serif;
    }

    .fw-bold {
        font-size: 1rem;
        font-weight: 500;
        color: rgba(31, 31, 31, 1);
        font-family: 'Jost', sans-serif;
    }

    .text-muted {
        color: #767676 !important;
    }
</style>
{% endblock styleandlink %}


{% block main %}
<h1 style="font-weight:600; font-weight: 600; margin: 70px 0; text-align: center;">
    Category: {{category.name|title}}
</h1>
<div class="row">
    {% for product in products_in_category %}
    <div class="col-1">
        <div class="card-img">
            <a href="{{product.get_absolute_url}}" class="card-img-link"><img src="{{product.image.url}}" style="width: 300px; height:300px; "
                    alt=""></a>

        </div>
        <div class="card-body">
            <div class="fw-bold">
                <a href="{{product.get_absolute_url}}">{{product.name|title}}</a>
            </div>
            <div class="fw-bold text-muted">${{product.price |title}}</div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock main %}